#U792_animation
{
	border: none;
}

#u790,#u1225
{
	background-color: transparent;
	position: relative;
}

#u1225:hover
{
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#u1225:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1231
{
	background-color: transparent;
	position: relative;
}

#u1231:hover
{
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#u1240
{
	background-color: transparent;
	position: relative;
}

#u1240:hover
{
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#u1240:active
{
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#u1248
{
	background-color: transparent;
	position: relative;
}

#u1248:hover
{
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#u1248:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1257
{
	background-color: transparent;
	position: relative;
}

#u1257:hover
{
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#u1257:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1225.MuseLinkActive,#u1231.MuseLinkActive,#u1240.MuseLinkActive,#u1248.MuseLinkActive,#u1257.MuseLinkActive
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u685,#u694,#u701,#u708,#u715,#u745,#u747,#u749,#u751,#u753,#u1190,#u1383,#u1385,#u1387,#u1389,#u1391,#u1402,#u1404,#u1406,#u1408,#u1410,#u1421,#u1423,#u1425,#u1427,#u1429
{
	position: relative;
}

